<h1 class="text-white"><i class="fa fa-search"></i> &nbsp;Resultados de la Búsqueda: {{ text }}</h1>
<hr class="border-white">
<div *ngIf="heroes.length == 0" class="row">
    <div class="col-sm-12">
        <div class="card text-white pdng-20px text-uppercase" role="alert">
            <p class="mg-bottom-0"><b><i class="fa fa-frown-o"></i>  &nbsp; &nbsp; No existen resultados para:</b> &nbsp; &nbsp; {{ text }}</p>
        </div>
    </div>
</div>
<div class="card-columns">
    <div class="card animated fadeIn text-white text-center" *ngFor="let heroe of heroes;">
        <img class="card-img-top img-fluid img-round" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-block">
          <h4 class="card-title">{{ heroe.nombre }}</h4>
          <p class="card-text">{{ heroe.bio | truncate : 120 }}</p>
          <p class="card-text"><small class="text-white">{{ heroe.aparicion }}</small></p>
          <button (click)="verHeroe(heroe.id)" type="button" name="button" class="btn btn-view-heroe btn-block">Ver más...</button>
        </div>
  </div>
</div>
